{% extends 'home/base.html' %}
{% load static %}

{% block mainbody %}

<div><a class="btn btn-outline-danger" href="/" role="button">Back to Homepage</a></div>

<div class="alert alert-success text-center mt-3 text-info" role="alert">
  <h4>Education Records</h4>
</div>

<div class="col-sm-6">

  <div class="mt-5">

  <h5>BSat•Sir Syed University of Engineering and Technology,Karachi </h5>
   
  
  <p>
    <br>
    Apr, 2018 - Apr, 2023
    <br>
    <br>
    •Field: SoftwareEngineering
    <br>
    •Semester: 6th
  </p>  


   <h5>Fscat•Govt Islamia Science College Karachi, Karachi</h5>
   
   <p>
   <br>
    Apr, 2018 - Apr, 2019
    <br><br>
    •Field: Engineering
  </p>

    <h5>Hsc,at•Paragon Public School, Karachi</h5>
    <p>
      <br>
      Jun, 2021 - Jun, 2021
      <br><br>
      •Field: Science
    </p>

    </div>

</div>

<div class="col-sm-6">

  <div class="text-center mt-5">

  <img src="{%static 'home/image/pro2.jpg'%}" class="rounded " width="350px" height="450px" alt="...">
   
 </div>

</div>

 {% comment %} <div class="col-sm-6 mt-5 text-center">

  <img src="{%static 'home/image/pro.jpg'%}" class="rounded  " width="120px" height="120px" alt="...">
   
    
 </div>

 <div class="col-sm-6 mt-5">

  <h5>BSat•SirSyedUniversityofEngineeringandTechnology,Karachi
    <br>
    Apr, 2018 - Apr, 2023
    <br>
    <br>
    •Field: SoftwareEngineering
    <br>
    •Semester: 6th
   </h5>

</div>

<div class="col-sm-6 mt-5 ">

  <h5>Fscat•Govt Islamia Science College Karachi, Karachi
    <br>
    Apr, 2018 - Apr, 2019
    <br><br>
    •Field: Engineering</h5>

</div>

<div class="col-sm-6 mt-5 text-center">

  <img src="{%static 'home/image/pro.jpg'%}" class="rounded  " width="120px" height="120px" alt="...">
  
    
 </div>


 <div class="col-sm-6 mt-5 text-center">

  <img src="{%static 'home/image/pro.jpg'%}" class="rounded " width="120px" height="120px alt="...">
   
    
 </div>

 <div class="col-sm-6 mt-5">

  <h5>Hsc,at•Paragon Public School, Karachi
    <br>
    Jun, 2021 - Jun, 2021
    <br><br>
    •Field: Science</h5>

 </div> {% endcomment %}

{% endblock mainbody %}