{% extends 'home/base.html' %}
{% load static %}

{% block mainbody %}

<div><a class="btn btn-outline-danger" href="/" role="button">Back to Homepage</a></div>


<div class="alert alert-success text-center mt-3 text-info" role="alert">
  <h4>Contact Info</h4>

</div>


<div class="col-sm-6 mt-4">

  <div class="text-center"> 
    
   
    <a href="https://wa.me/03332424272/" target="_blank"><i class="fas fa-phone fa-3x"></i> </a>
    <h5>03332424272</h5>
 

  <div class="mt-5"></i>
  
    
    <a href="https://mail.google.com/mail/?view=cm&sfs=1&tf=1&to=khanrafay358@gmail.com" target="_blank"><i class="fas fa-envelope fa-3x"></i></a>
      <h5>khanrafay358@gmail.com</h5>
  
  </div>

  
  <div class="mt-5 ">
    
    <a href="https://www.linkedin.com/in/rafayhere/" class="a" target="_blank"><i class="fab fa-linkedin  fa-3x"></i></a>
    <h5>LinkedIn</h5>

  </div>


  
    <div class="mt-5">
      
      
      <a href="https://github.com/meetrafay" class="a" target="_blank"><i class="fab fa-github fa-3x "></i> </a>
        <h5>GitHub</h5>
  
  </div>




</div>
</div>


<div class="col-sm-6 ">
 <div class="justify-content-center text-center mt-5 ">

  <br><br>
    <h3>(Hazrat Ali r.a)</h3>
    <br><br>
    <h4>
    "Rizq sakhfat my poshidha hy log isy mehnat may talash krty hen" </h4>
    <br><br><br>
    <h4 class="mt-5">Thanks for visiting my portfolio</h4>
  </div>


</div>


{% endblock mainbody %}